@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Book>

<header>
    <h1>Books</h1>
</header>

@foreach (var x in Model)
{
<!--Display information for all Books stored in the database-->
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @x.BookTitle
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>@x.BookPrice.ToString("c")</small>
            </span>
        </h4>
        <h6>
            <i>@x.BookAuthorLastName, @x.BookAuthorFirstName @x.BookAuthorMiddleName</i>
        </h6>
    </div>
    <div class="card-text p-1">Category: @x.BookCategory</div>
    <div class="card-text p-1">Publisher: @x.BookPublisher</div>
    <div class="card-text p-1">ISBN: @x.BookISBN</div>

</div>
}
